@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(41, 146, 255);
    background: linear-gradient(180deg, rgba(41, 146, 255, 1) 0%, rgba(52, 153, 255, 1) 22%, rgba(251, 224, 69, 1) 100%);
}

/* ログイン画面 */
.form-container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a28281c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ラベルと入力フィールド */
.label {
    font-size: 1rem;
    margin-bottom: 6px;
    display: block;
}

.input {
    color: #000;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.submit {
    padding: 10px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.Atlas {
    text-align: center;
    font-weight: bold;
}

/* フォーム */
.form-group {
    color: #fff;
    font-weight: lighter;
}

.login-button {
    position: absolute;
    top: 70%;
    /* 上からの位置 */
    left: 80%;
    /* 左からの位置 */
    transform: translate(-50%, -50%);
}

/* ～新規登録～ */
.register {
    text-align: center;
    margin-top: 20%;

}

/* リンク */
.register a {
    color: #fff;
    text-decoration: underline;
}

p {
    color: #fff;
}

.resister-button {
    position: absolute;
    top: 80%;
    /* 上からの位置 */
    left: 80%;
    /* 左からの位置 */
    transform: translate(-50%, -50%);
}
